<%_.each(books, function (book) {%>
<div data-id="<%=book.id%>" class="w3-card-4 w3-margin-top" onclick="alert('<%=book.id%>');">
    <header class="w3-container w3-blue-gray">
        <h3><a href="/book_detail" style="text-decoration: none">Book Title: <%=book.title%></a></h3>
    </header>
    <div class="w3-container w3-white">
        <p>Author: <%=book.author%></p>
        <p>Price: <%=book.price%></p>
    </div>
    <footer class="w3-container w3-blue-gray">
        <button class=" w3-margin-right w3-margin-top w3-btn w3-round w3-green">Contact seller</button>
    </footer>
</div>
<%});%>
